[submodule "cantools"]
	path = cantools
	url = https://github.com/dzid26/cantools.git
[submodule "opendbc-retropilot"]
	path = opendbc
	url = https://github.com/dzid26/opendbc-BMW-E8x-E9x.git
[submodule "hardware"]
	path = hardware
	url = https://github.com/dzid26/StepperServo-hardware.git
